APP_PORT=8080
APP_ENVIRONMENT=debug
TIMEZONE="Asia/Jakarta"
APP_NAME="BACKGROUND-JOB-SERVICE"
TIMEOUT_GRACEFUL_SHUTDOWN=30

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=jobdb
DB_SSLMODE=disable
DB_MAX_IDLE_CONN=10
DB_MAX_OPEN_CONN=100
DB_CONN_MAX_LIFETIME=60

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_HEARTBEAT_INTERVAL=10
RABBITMQ_HEALTH_CHECK_INTERVAL=30
RABBITMQ_RECONNECT_MAX_RETRIES=10
RABBITMQ_RECONNECT_INTERVAL=10
RABBITMQ_CIRCUIT_BREAKER_MAX_FAILURES=3
RABBITMQ_CIRCUIT_BREAKER_TIMEOUT=30

LOGSTASH_HOST=localhost
LOGSTASH_PORT=5228
LOGSTASH_TIMEOUT=5
LOGSTASH_TICKER_HEALTHCHECK=30